@import "../../styles/breakpoints";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  margin: 20px 0 16px;

  @include respond-to(sm) {
    flex-direction: row;
    gap: 8px;
  }

  &-level {
    height: 44px;
    min-width: 160px;
  }
}

.Mui-selected {
  background-color: #4549a2 !important;
}

.MuiMenu-paper {
  background-color: #070932 !important;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 4px;

  @include respond-to(sm) {
    flex-direction: row;
    gap: 8px;
  }

  &-chip {
    height: 40px;
    border-radius: 20px;
    font-size: 1rem;
  }
}
